
@mixin clearFix {
    width: 100%;
    display: table;
    clear: both;
}
@mixin toCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin backgroundClip {
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    -webkit-background-clip: text;
    background-clip: text;
    color:transparent;
}

// We iuse responsive code for phone tab and laptop
// phone >> max-width 600px
// tab-port >> max-width 900px 
// tab-land >> max-width 1200px
// laptop >> min-width 1200px